.dz-container{
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.dz-head{
  height: 70px;
  background: black;
  color: white;
  text-align: center;
  border-radius: 2px;
}

.dz-vertical-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dz-shade{
    box-shadow: 2px 1px 3px rgba(0,0,0,0.3);
}

.dz-item {
  background: rgb(222,224,227); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(222,224,227,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(222,224,227,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(222,224,227,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee0e3', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    height: 10%;
    min-height: 70px;
    max-height: 140px;
    margin: 4px auto;
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.dz-item-title {
    font-size: 12px;
    font-weight: 900;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dz-left {
    width: 35%;
    float: left;
    height: 100%;
}
.dz-right {
    width: 65%;
    float: right;
    height: 100%;
}
.dz-item-bottom {
    height: 50%;
}

.dz-orange{
    background: #FF6809;
}
.dz-orange.hoverable:hover{
    background: #ff8010;
}
.dz-orange-txt{
    color: #FF6809;
}

.dz-blue{
    background: #105DD0;
}
.dz-blue.hoverable:hover{
    background: #2376f1;
}
.dz-blue-txt {
    color: #105DD0;
}

.dz-btn {
    -webkit-appearance: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border: none;
    font-size: 12px;
    font-weight: 800;
    color: white;
    padding: 5px 12px;
    margin: 2px;
    cursor: pointer;
}

.msg-window{
    background: white;
    width: 100%;
    color: #777777;
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}

.dz-title-container h3 {
    margin: 0;
}

#dz-item-1 {
    height: 110px;
}

#dz-item-1 h3{
    margin: 0 auto 8px auto;
    width: 90%;
    border-bottom: 2px solid black;
}

.dz-old-price {
    font-size: 14px;
    font-weight: 800;
    text-decoration: line-through;
}

.dz-new-price {
    font-size: 21px;
    font-weight: 900;
}

.heat-container {
    height: 60%;
    padding-bottom: 5px;
}

.heat {
    width: 13px;
    border-bottom-color: #FF8335;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}
.heat.heat-1 {
    border-bottom-width: 10px;
}
.heat.heat-2 {
    border-bottom-width: 17px;
}
.heat.heat-3 {
    border-bottom-width: 24px;
}
.heat.heat-4 {
    border-bottom-width: 31px;
}
.heat-txt {
    font-size: 12px;
    font-weight: bolder;
    color: #ff8335;
}

#dz-item-last {
    height: 500px;
    margin: 4px auto;
    border-radius: 2px;
}
