body{
    padding: 0;
    margin: 0;
}

.dz-container{
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.dz-head{
    height: 70px;
    background: black;
    color: white;
    text-align: center;
    border-radius: 2px;
}

#dz-minimize {
    position: absolute;
    height: inherit;
    padding: 0 10px;
    cursor: pointer;
    z-index: 9998;
}
#dz-minimize img {
    height: 30%;
}

.dz-vertical-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dz-shade{
    box-shadow: 2px 1px 3px rgba(0,0,0,0.3);
}

.dz-item {
    height: 10%;
    /*min-height: 70px;*/
    /*max-height: 140px;*/
    margin: 4px auto;
    border-radius: 2px;
    /*padding: 5px;*/
    box-sizing: border-box;
    text-align: center;

    min-height: 0px;
    max-height: 0px;
    overflow: hidden;
    padding: 0px;
    max-width: 0px;
}


.dz-item.in{
    animation-name: dz-item-entrance;
    animation-duration: 1.5s;
    min-height: 70px;
    max-height: 200px;
    padding: 5px;
    max-width: 400px;
}
.dz-item.in > *{
    animation-name: dz-item-content-entrance;
    animation-duration: 1.5s;
    opacity: 1;
}

.dz-item.in:nth-child(1){  animation-delay: 0s;  }
.dz-item.in:nth-child(2){  animation-delay: 0.1s;  }
.dz-item.in:nth-child(3){  animation-delay: 0.2s;  }
.dz-item.in:nth-child(4){  animation-delay: 0.3s;  }
.dz-item.in:nth-child(5){  animation-delay: 0.4s;  }
.dz-item.in:nth-child(6){  animation-delay: 0.5s;  }
.dz-item.in:nth-child(7){  animation-delay: 0.6s;  }
.dz-item.in:nth-child(8){  animation-delay: 0.8s;  }

.dz-item.in:nth-child(1) > *{ animation-delay: 0s; }
.dz-item.in:nth-child(2) > *{ animation-delay: 0.1s; }
.dz-item.in:nth-child(3) > *{ animation-delay: 0.2s; }
.dz-item.in:nth-child(4) > *{ animation-delay: 0.3s; }
.dz-item.in:nth-child(5) > *{ animation-delay: 0.4s; }
.dz-item.in:nth-child(6) > *{ animation-delay: 0.5s; }
.dz-item.in:nth-child(7) > *{ animation-delay: 0.6s; }
.dz-item.in:nth-child(8) > *{ animation-delay: 0.7s; }



.dz-bg-light{
    background: #F9F9F3;
}
.dz-bg-gradient{
    background: rgb(222,224,227); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(222,224,227,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(222,224,227,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(222,224,227,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee0e3', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}



.dz-item-title {
    font-size: 12px;
    font-weight: 900;
}
.dz-item-title span {
    font-size: 18px;
    font-weight: 900;
}

.dz-left {
    width: 35%;
    float: left;
    height: 100%;
}
.dz-right {
    width: 65%;
    float: right;
    height: 100%;
}
.dz-item-bottom {
    height: 50%;
}

.dz-orange{
    background: #FF6809;
}
.dz-orange.hoverable:hover{
    background: #ff8010;
}
.dz-orange-txt{
    color: #FF6809;
}

.dz-blue{
    background: #105DD0;
}
.dz-blue.hoverable:hover{
    background: #2376f1;
}
.dz-blue-txt {
    color: #105DD0;
}

.dz-teal{
    background: #29BAF3;
}
.dz-teal.hoverable:hover{
    background: #61D2FF;
}
.dz-teal-txt {
    color: #29BAF3;
}

.dz-pink{
    background: #FF5757;
}
.dz-pink.hoverable:hover{
    background: #FF6B6B;
}
.dz-pink-txt {
    color: #FF5757;
}

.dz-btn {
    -webkit-appearance: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border: none;
    font-size: 12px;
    font-weight: 800;
    color: white;
    padding: 5px 12px;
    margin: 2px;
    cursor: pointer;
}

.msg-window{
    background: white;
    width: 100%;
    color: #777777;
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}

.dz-title-container h3 {
    margin: 0;
}

#dz-item-1 {
    height: 110px;
}

#dz-item-1 h3{
    margin: 0 auto 8px auto;
    width: 90%;
    border-bottom: 2px solid black;
}

.dz-old-price {
    font-size: 14px;
    font-weight: 800;
    text-decoration: line-through;
}

#dz-item-4 {
    height: 140px;
}
.dz-item-part-1, .dz-item-part-2 {
    height: 50%;
}

.dz-new-price {
    font-size: 21px;
    font-weight: 900;
}

.heat-container {
    height: 60%;
    padding-bottom: 5px;
}

.heat {
    width: 13px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.heat-container.pink .heat{
    border-bottom-color: #FF5757;
}
.heat-container.orange .heat{
    border-bottom-color: #FF8335;
}
.heat-container.blue .heat{
    border-bottom-color: #105DD0;
}
.heat-container.teal .heat{
    border-bottom-color: #29BAF3;
}

.heat.heat-1 {
    border-bottom-width: 10px;
}
.heat.heat-2 {
    border-bottom-width: 17px;
}
.heat.heat-3 {
    border-bottom-width: 24px;
}
.heat.heat-4 {
    border-bottom-width: 31px;
}
.heat.heat-5 {
    border-bottom-width: 38px;
}

.heat-txt {
    font-size: 12px;
    font-weight: bolder;
}

#dz-item-last {
    height: 500px;
    margin: 4px auto;
    border-radius: 2px;
}

.dz-minified {
    position: absolute;
    height: 100%;
    background: #29baf3;
    z-index: 9999;
    max-width: 75%;
    min-width: 150px;
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border-right: 3px solid white;
    box-shadow: 4px 0px 8px rgba(0,0,0,0.4);
}
.dz-min-title {
    position: absolute;
    height: 10%;
    min-height: 100px;
    max-height: 300px;
    text-align: center;
}
.dz-min-title h3{
    color: white;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.4);
}
.dz-title-container h3{
    text-shadow: 0px 3px 2px rgba(0,0,0,0.4);
}
.dz-minified-txt {
    width: 75%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 13px;
    font-style: italic;
    padding: 10px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    left: 10%;
    color: white;
}
.div-expand {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    box-shadow: 4px 0px 8px rgba(0,0,0,0.4);
    color: #29baf3;
    text-align: center;
    font-size: 28px;
    right: -20px;
    position: absolute;
    cursor: pointer;
}
.div-expand img {
    height: 55%;
}




@keyframes dz-item-entrance {
    0%   {
        min-height: 0px;
        max-height: 0px;
        overflow: hidden;
        padding: 0px;
        max-width: 0px;
    }
    40%  {
        min-height: 70px;
        max-height: 200px;
        padding: 0px;
        max-width: 0px;
    }
    100% {
        padding: 5px;
        max-width: 400px;
    }
}

@keyframes dz-item-content-entrance {
    0%   {opacity: 0; }
    70%  {opacity: 0; }
    71%  {opacity: 0; }
    100% {opacity: 1; }
}